.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    padding-left: 30px;
}

#wellcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-image: url(../IMG/Drones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}